/* Buy Ticket */

form{
    text-align: center;
}
label{
    text-align: right;
    position: absolute;
    right: 55%;
}
select, input{
    width: 25%;
}

input[type=reset],input[type=button]{
    border-radius: 3px;
    width: 10%;
}
input[type=checkbox]{
    width: initial;
}

form div input, form div select{
    left: 55%;
    position: absolute;
}
form div#error{
    color: red;
}
