/* Universal */
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    position: relative;
    height: 100%;
    z-index: -2;
}
footer{
    background-color: rgb(67, 116, 185);
    padding: 16px 0px;


    position: sticky;
    bottom: 0px;
    width: 100%;
}
div{
    transition-duration: 0.5s;
}


/* Header  */
header img{
    height: 235px;
    width: 100%;
    display: block;
}
 nav{
    display: inline-block;
    width: 100%;
    background-color: rgb(67, 116, 185);
    height: 50px;
    transition-duration: .5s;
}

nav ol li
{
    display: inline-block; 
}

nav ol li a
{
    display: block;
    padding: 16px;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ol li:hover
{
    background-color: cornflowerblue;
}

.dropdown
{
    display:none;
    position: absolute;
}

.dropdown ol li
{
    display:block;
    background-color: rgb(67, 116, 185);
}

.dropdown ol li a
{
    display:block;
    padding-left: 41px;
    padding-right: 41.5px;
}

nav ol li:hover .dropdown
{
    display: block;
}

/* Content */
.content{
    display: block;
    position: relative;
    z-index: -1;
    animation: slideTop .75s ease;
}
/* Animation */

@keyframes slideTop {
    0%   {transform: translateY(-100%);}
    100% {transform: translateY(0px);}
}

@keyframes textGlowRed {
    0%   {text-shadow: red 0px 0px 0px;}
    100% {text-shadow: red 0px 0px 3px;}
}


/* 800 Windows CSS */
@media screen and (max-width: 800px) {
    nav{
        height: 250px;
    }
    nav ol
    {
        text-align: left;
    }

    nav ol li
    {
        display: block;
    }

    .dropdown
    {
        position: relative;
    }

}