/* Universal */
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    position: relative;
    height: 100%;
    z-index: -2;
}
footer{
    background-color: rgb(67, 116, 185);
    padding: 16px 0px;


    position: sticky;
    bottom: 0px;
    width: 100%;
}
div{
    transition-duration: 0.5s;
}


/* Header  */
header img{
    width: 100%;
    display: block;
}
nav{
    display: inline-flex;
    width: 100%;

    background-color: rgb(67, 116, 185);
    position: relative;
    box-sizing: border-box;

    overflow: hidden;
    height: 50px;
    transition-duration: .5s;
}
nav div{
    position: relative;
    width: 100%;
}
nav div:hover{
    background-color: cornflowerblue;
}
nav a{
    display: block;
    padding: 16px;
    text-decoration: none;
    color: black;
}

/* Content */
.content{
    display: block;
    position: relative;
    z-index: -1;
    animation: slideTop .75s ease;
}
/* Animation */

@keyframes slideTop {
    0%   {transform: translateY(-100%);}
    100% {transform: translateY(0px);}
}

@keyframes textGlowRed {
    0%   {text-shadow: red 0px 0px 0px;}
    100% {text-shadow: red 0px 0px 3px;}
}


/* 800 Windows CSS */
@media screen and (max-width: 800px) {
    nav{
        display: block;
        height: 250px;

    }
    nav div{
        text-align: left;
    }
}